
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/thhel/.config/scripts/start_messenger.sh
Name=Facebook messenger
Icon=google-chrome
