[Unit]
Description=ComfyUI User Service
After=network.target

[Service]
Type=simple
# Ersätt med din faktiska sökväg från 'pyenv which python'
WorkingDirectory=/home/thhel/git/ComfyUI
ExecStart= /home/thhel/.config/scripts/run_comfyui.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
